/* 
1. Global
2. Darkmode
3. Navbar
4. Header
5. Content
6. Footer
7. Animations
8. Responsive
 */

/* 1. Global */

:root {
  --background-primary: black;
  --background-secondary: white;
  --text-primary: white;
  --text-secondary: black;
  --accent-primary: blue;
  --accent-secondary: red;
}

body {
  color: var(--text-secondary);
  background-color: var(--background-secondary);
  margin: 0;
  padding: 0;
}

/* 2. Darkmode */

/* 3. Navbar */

/* 4. Header */

/* 5. Content */

.gallery {
  align-items: flex-start;
  justify-content: center;
}

.painting {
  margin: 0 5vw;
}

.painting-image {
}

img {
  height: 50vh;
  width: auto;
}
/* 6. Footer */

/* 7. Animations */

/* 8. Responsive */
