<footer>
    <div class="footer-primary">
        <div class="container flex-group">
            <ul role="list" class="social-links">
                <li><a href="#" class="footer-list">GitHub</a></li>
                <li><a href="#" class="footer-list">Email</a></li>
                <li><a href="#" class="footer-list">LinkedIn</a></li>
            </ul>
            <ul role="list" class="footer-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                
            </ul>
        </div>
    </div>
    <div class="footer-secondary flex-group">
        <div class="container">
            <ul role="list" class="footer-contact">
                <li><a href="#">Phone: (302)746-2978</a></li>
                <li><a href="#">Email: nolandonahue@mail.com</a></li>
            </ul>
            <ul role="list" class="copyright">
                {# <li><a href="#" class="copyright">© {{page.date | copyrightDate}} Nolan Donahue All Rights Reserved</a></li> #}
            </ul>
        </div>
    </div>
</footer>