/* Table of Contents
1. Global
2. Darkmode
3. Switches
 */

/* 1. Global */

:root {
  --background-primary: white;
  --background-secondary: antiquewhite;
  --text-primary: black;
  --text-secondary: grey;
  --accent-primary: blue;
  --accent-secondary: #00a8e0;
}

/* 2. Darkmode */
/* https://www.pullrequest.com/blog/how-to-implement-dark-mode-with-css-js/
https://javascript.plainenglish.io/build-a-dark-mode-toggle-with-javascript-and-localstorage-8022b492fb9e
 */
[data-theme="dark"] {
  --background-primary: black;
  --background-secondary: grey;
  --text-primary: black;
  --text-secondary: white;
  --accent-primary: blue;
  --accent-secondary: #00a8e0;
}

/* 3. Switches */

/* The switch - the box around the slider */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 0.4vh;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;

  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

div.slider.round::before {
  background-image: url(./references/moon.png);
  background-position: center;
  background-size: 2vh;
  background-repeat: no-repeat;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
