* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%; /* This fixes the screen gradient, without it the gradient only covers the 'utilized space' for the text */
}

body {
  background-image: linear-gradient(
    to top right,
    aqua,
    rgb(98, 98, 255),
    blue,
    black 99%
  );
  /* background-color: white; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  /* these selections allow you to create the background for the header */
  width: 100%;
  height: 60px;
  background-color: rgb(16, 59, 94);
  /* -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); /* This can all be used to create a 'rounded off corner' for content */
  /* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); */
  /* -moz-border-radius: -15px;
  -webkit-border-radius: -15px; */
}
#header--text {
  padding-left: 15%;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Garamond";
  color: white;
}

/* Add a background for a top navigation bar */
.topnav {
  background-color: rgb(11, 142, 230);
  overflow: hidden;
}

/*Style the links within the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

/*Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

div.center {
  text-align: center;
}

div.video-mask {
  border-radius: 10px;
  overflow: hidden;
  width: 1000px;
  position: relative;
  left: 22%;
}

video {
  position: inherit;
}

/* Main content header for the 'big themes' */
h1 {
  margin-left: 15%;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 600;
}
