/* Table of Contents
1. Global
2. Navbar
3. Content
4. Footer
5. Testing
 */

/* 1. Global */
:root {
  --accent-primary: #ad974f;
  --accent-secondary: #8e793e;
  --black-prime: #231f20;
  --white-prime: #eaeaea;
}

body {
  color: var(--white-prime);
  height: 100vh;
  overflow: hidden;
}

.bg {
  background-image: url(./References/owenBg.jpg);
  background-position: center;
  background-attachment: fixed;
}

/* 2. Navbar */

.row {
  margin-top: 25vh;
}

.nav {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.nav-link {
  font-size: 3vh;
  font-weight: 900;
  margin: 1.5rem;
  text-align: center;
  background-color: var(--accent-primary);
}

link:hover {
  text-decoration: none;
  color: var(--black-prime);
}

a {
  text-decoration: none;
  color: var(--white-prime);
}

.break {
  margin-left: 10vw;
  margin-right: 10vw;
}

/* 3. Content */

.header {
  font-size: 100px;
  font-weight: 900;
  text-decoration: underline;
  justify-content: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  text-align: center;
}

/* 4. Footer */

/* 5. Testing */
@media only screen and (min-width: 750px) {
  .nav-link {
    max-width: 20% !important;
  }
}

@media only screen and (max-width: 750px) {
  .header {
    font-size: 15vw;
    margin-top: 1vh;
  }
  .nav-link {
    font-size: 8vw;
  }
}

/* 6. Animation */
@keyframes pulse {
  0% {
    background-color: linear-gradient(transparent);
  }
  50% {
    background-color: linear-gradient();
  }

  100% {
    background-color: linear-gradient(--white-prime);
  }
}
