/* 
1. Navigation
2. Animations
*/

nav {
  display: flex;
  align-items: center;
}

/* Mobile nav toggle */

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    /* position: fixed; */
    position: fixed;
    margin-top: 2em;

    width: auto;
    max-width: calc(100vw - 3rem);
    padding: var(--size-300);
    /* background: var(--accent-primary); */
    border-radius: var(--size-100);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.486);
  }

  .navigation::before[data-overlay] {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: block !important;
    /* gap: var(--size-400) !important; */
    text-align: center;
    font-weight: var(--fw-bold);
    font-size: 1.5rem !important;
  }
  .nav-list li {
    padding: 0.5rem 7ch;
    white-space: nowrap;
  }
  .nav-list li:hover {
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .primary-navigation[data-visible] {
    display: block;
  }
  .mobile-nav-toggle {
    display: block;
    z-index: 100;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

.nav-bg {
  background-color: transparent;
  padding: 0.5em;
}

.nav-list {
  font-size: var(--font-nav-size);
  font-weight: var(--fw-bold);
  display: flex;
  /* gap: clamp(1vw, 2vw, 4vw); */

  margin: 0.25rem 0;
  margin-left: auto;
  justify-content: space-between;
}
.nav-logo {
  margin-right: 45em;
}
.nav-list a {
  text-decoration: none;
  color: var(--accent-primary);
  padding: 0.5rem 1rem;
}

.nav-list a:hover {
  background-color: var(--background-secondary);
  border-radius: 5px;
}
