/* Table of Contents
1. Global
2. Navbar
3. Content
4. Footer
5. Special
 */

/* 1. Global */

:root {
  --background-primary: white;
  --background-secondary: antiquewhite;
  --text-primary: black;
  --text-secondary: grey;
  --accent-primary: #c5d8d6;
  --accent-secondary: teal;
}

body {
  font-family: "work sans";
  overflow-x: hidden;
  background-color: var(--background-secondary);
}

/* 2. Navbar */
.navbar {
  margin-top: 3vh;
  padding: 0;
}

.nav-logo {
  font-size: 4vh;
  text-decoration-thickness: 0.4vh;
  text-align: center;
  color: var(--text-primary);
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 2.5vh;
  font-weight: 500;
  border-width: 0.2vh !important;
  text-align: center;
  opacity: 1;
}

.nav-link:hover {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

/* 3. Content */
.card {
  background-color: var(--background-secondary);
  border: none;
}

h1 {
  display: flex;
  font-weight: 600;
  margin-top: 10vh;
  text-decoration: underline;
  margin-left: 2.5vh;
  font-size: 4vh;
}

h2 {
  font-size: 3vh;
}

img {
  height: 40vh;
  max-width: 90%;
  width: auto;
}

.underline {
  text-decoration: underline;
}

/* 4. Footer */

.foot {
  font-size: 4vh;
  text-align: center;
  margin-bottom: 3vh;
}

.footer {
  margin-top: 20vh;
  text-align: center;
  font-size: 4vh;
}

.footer-link {
  background-color: var(--background-secondary);
  padding: 0.7vh;
  border-width: 0.4vh !important;
}

/* 5. Special */
.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-long {
  animation: fadeInAnimationLong ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes fadeInAnimationLong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-wiggle {
  animation: wiggle 2s;
  animation-delay: 3s;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-10deg);
  }
  20% {
    transform: rotateZ(7deg);
  }
  25% {
    transform: rotateZ(-7deg);
  }
  30% {
    transform: rotateZ(4deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* 6. Responsive */
@media only screen and (max-width: 800px) {
  .nav-logo {
    display: none;
  }
}
