---
title: About
layout: 'baseMain.njk'
---
<link rel="stylesheet" href="../styles/about.css">

<section class="uneven-columns">
    <div class="big-column">
        <h1 class="primary-header">I'm Nolan Donahue, a Website<br>Designer from Delaware</h1>
        <p class="primary-text"></p>
        <img class="profile-img" src="../references/profile.jpg" alt="Profile Picture">
    </div>
    <div class="small-column">
        <ul role="list" class="whole-list">
            <ul role="list" class="like-list">
                <li><h2 href="#">What I like</h2></li>
                <li><a href="#"></a>Making Thing</li>
                <li><a href=""></a>Doing Thing</li>
            </ul>
            <ul role="list" class="like-list">
                <li><h2 href="">What I'm Learning<h2/></li>
                <li><a href="">Making Thing</a></li>
                <li><a href="">Doing Thing</a></li>
            </ul>
            <ul role="list" class="like-list">
                <li><h2 href="">Recognition</h2></li>
                <li><a href="">This event</a></li>
                <li><a href="">Woah so cool</a></li>
            </ul>
        </ul>
    </div>
</section>
