/* Table of Contents
1. Global
2. Navbar
3. Content
4. Footer
5. Testing
 */

/* 1. Global */
:root {
  --accent-primary: #ad974f;
  --accent-secondary: #8e793e;
  ----black-prime: #231f20;
  --white-prime: #eaeaea;
  --spacing-primary: 0 50px 0 50px;
}

body {
  color: var(--white-prime);
  background-color: var(--black-prime);
  overflow-x: hidden;
}

/* 2. Navbar */
.navbar {
  background-color: var(--black-prime) !important;
}

ul li a,
.navbar-brand {
  color: var(--white-prime);
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--white-prime);
}

.nav-active {
  background-color: var(--accent-secondary);
  border-radius: 15px;
}

/* 3. Content */

#blog-carousel {
  margin-top: 70px;
  width: 50%;
  background-color: var(--black-prime);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: var(--white-prime);
}

#blog {
  padding-top: 50px;
}

#navigate {
  margin: var(--spacing-primary);
  border-radius: 5px;
  color: var(--white-prime);
  background-color: var(--accent-primary);
  /* border: 2px solid rgb(255, 255, 255); */
}
#pictures {
  margin: var(--spacing-primary);
  padding: 0;
  height: 40%;
}

#text {
  text-align: left;
  margin: var(--spacing-primary);
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--white-prime);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-primary);
}

/* Handle on hover */
::-webkit-scrollbar:hover {
  width: 10px;
}

/* 4. Footer */

/* 5. Testing */

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
