---
title: Home
layout: 'base.njk'
---
<link rel="stylesheet" href="./styles/home.css">

<header class="bg-img">
    <div class="header-text container">
        <h1>Nolan Donahue<br>Web Design</h1>
        <p>lorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</p>
    </div>
</header>

<section class="cta container">
    <h1>What is Web Design</h1>
    <p>Web design and is the first of the many that will be in the end of the best of the worst</p>
</section>

<section class="three-cards container">
    <div class="card">
        <h2>Card One</h2>
        <p>This is the first text experience</p>
    </div>    
    <div class="card">
        <h2>Card Two</h2>
        <p>This is the second text experience</p>
    </div>    
    <div class="card">
        <h2>Card Three</h2>
        <p>This is the third text experience</p>
    </div>
</section>