---
title: Home
layout: 'base.njk'
---
<link rel="stylesheet" href="./styles/home.css">

<header class="bg-img">
    <div class="bg-wrapper">
        <div class="header-text container">
            <h1>Nolan Donahue<br>Web Design</h1>
            <p>lorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</p>
        </div>
    </div>
</header>

<section class="cta container">
    <h1>What is Web Design</h1>
    <p>Web design and is the first of the many that will be in the end of the best of the worst</p>
</section>

<section class="three-cards container">
    <div class="card">
        <h2>Card One</h2>
        <p>This is the first text experience Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi recusandae eaque!</p>
    </div>    
    <div class="card">
        <h2>Card Two</h2>
        <p>This is the second text experience Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia perferendis quis nulla.</p>
    </div>    
    <div class="card">
        <h2>Card Three</h2>
        <p>This is the third text experience Lorem ipsum, dolor sit amet consectetur adipisicing elit. In modi laboriosam esse.</p>
    </div>
</section>

<section class="cta-portfolio">
    <button class="portfolio-button">
        <a href="#">Look at my Portfolio</a>
    </button>

    	<div class="rotate-slider">
	  <ul class="slides">
		<li>
		  <div class="inner">
			<h2>Actual Rotating Slider</h2>
			<p>Built with math and dedication</p>
		  </div>
		</li>
		<li>
		  <div class="inner"></div>
		</li>
		<li>
		  <div class="inner">
			<h2>Hates IE</h2>
			<p>Uses clip-path to shape slides</p>
		  </div>
		</li>
		<li>
		  <div class="inner">
		  </div>
		</li>
		<li>
		  <div class="inner">
			<h2>Easy to use</h2>
			<p>Just add list elements in the HTML and set a height and width in the JavaScript Settings</p>
			<p><small>Slider controls and proper jQuery plugin coming soon.</small></p>
		  </div>
		</li>
		<li>
		  <div class="inner">
			<h2>I'm not a thief!</h2>
			<p>Stock photos from www.pexels.com</p>
		  </div>
		</li>
	  </ul>
	</div>
	<svg>
		<defs>
			<clipPath id="slideClip">
			<path />
			</clipPath>
		</defs>
	</svg>
</section>